<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>New USER</title>
</head>
<body>
<h1 align="center">Enter user data
    <form th:method="POST" th:action="@{/admin}" th:object="${user}">

        <label for="name">Enter name:</label>
        <input type="text" th:field="*{name}" id="name">
        <br/>
        <label for="surname">Enter surname:</label>
        <input type="text" th:field="*{surname}" id="surname">
        <br/>
        <label for="email">Enter email</label>
        <input type="text" th:field="*{email}" id="email">
        <br/>
        <label for="username">Enter username:</label>
        <input type="text" th:field="*{username}" id="username">
        <br/>
        <label for="password">Enter password:</label>
        <input type="text" th:field="*{password}" id="password">
        <br/>

        <label for="roles">Roles:</label>
        <select multiple name="roles" id="roles">
            <option th:each="role : ${roles}" th:value="${role.getId()}" th:text="${role.getName()}"></option>
        </select>
        <br/>

        <input type="submit" value="Save">
    </form>
    <form action="/logout">
        <button>LOGOUT</button>
    </form>
</h1>
</body>
</html>